<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="trace" monitorInterval="30" >
	
    <Appenders>
	<!-- 콘솔로그 -->
	<Console name="Console" target="SYSTEM_OUT">
		<PatternLayout pattern="%p %d [%t] [%c] %-15.15M %m%n" />
	</Console>
	
	<!-- LEMP 에러로그 -->
	<RollingRandomAccessFile name="lemp-error"
		fileName= "${sys:lempCustHome}/logs/lemp_error.log"
		filePattern="${sys:lempCustHome}/logs/$${date:yyyyMMdd}/lemp_error.%d{yyyyMMdd}-%i.log.zip"
		immediateFlush="false" append="false">
		<PatternLayout pattern="%p %d [%t] [%c] %-15.15M %m%n" />
		<Policies>
			<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			<SizeBasedTriggeringPolicy size="50 MB"/>
		</Policies>
		<!-- <DefaultRolloverStrategy max="10" /> -->
	</RollingRandomAccessFile>
	
	<!-- LEMP 일반로그 -->
	<RollingRandomAccessFile name="lemp"
		fileName="${sys:lempCustHome}/logs/lemp.log"
		filePattern="${sys:lempCustHome}/logs/$${date:yyyyMMdd}/lemp_debug.%d{yyyyMMdd}-%i.log.zip"
		immediateFlush="false" append="true">
		<PatternLayout pattern="%p %d [%t] [%c] %M %m%n" />
		<Policies>
			<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			<SizeBasedTriggeringPolicy size="50 MB"/>
		</Policies>
		<!-- <DefaultRolloverStrategy max="10" /> -->
	</RollingRandomAccessFile>
	
	<Async name="Async-log">
		<AppenderRef ref="lemp" />
	</Async>
	<Async name="Async-error">
		<AppenderRef ref="lemp-error" />
	</Async>
	</Appenders>
	
	<Loggers>
		<Root level="INFO" additivity="false">
			<AppenderRef ref="Console" level="INFO" />
			<AppenderRef ref="Async-log" level="INFO" />
			<AppenderRef ref="Async-error" level="WARN" />
		</Root>
		
		 
		<Logger name="org.springframework" level="WARN" additivity="false">
			<AppenderRef ref="Console" level="INFO" />
			<AppenderRef ref="Async-log" level="INFO" />
			<AppenderRef ref="Async-error" level="WARN" />
		</Logger>
		 
		<Logger name="org.apache" level="WARN" additivity="false">
			<appender-ref ref="Async-error" />
			<appender-ref ref="Async-db-debug" />
		</Logger>
		
		<Logger name="net.sf.ehcache" level="WARN" additivity="false">
			<appender-ref ref="Async-error" />
			<appender-ref ref="Async-db-debug" />
		</Logger>
	</Loggers>
</Configuration>