<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lemp-server</display-name>
  <context-param>
  	<param-name>lempBase</param-name>
  	<param-value>/WEB-INF/config</param-value>
  </context-param>
  <context-param>
  	<param-name>lempConfiguration</param-name>
  	<param-value>/WEB-INF/config/lemp_configuration.xml</param-value>
  </context-param>
  <context-param>
  	<param-name>log4jConfigLocation</param-name>
  	<param-value>${lempCustHome}/conf/server/log4j2.xml</param-value>
  </context-param>
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>file:///${lempCoreHome}/applicationcontext/applicationcontext-*.xml 
 file:///${lempCustHome}/conf/applicationcontext/applicationcontext-*.xml</param-value>
  </context-param>
  <filter>
  	<filter-name>httpMethodFilter</filter-name>
  	<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>httpMethodFilter</filter-name>
  	<servlet-name>dispatcher</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>kr.co.ldcc.lemp.hybrid.server.web.listener.LempListener</listener-class>
  </listener>
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/controller-*.xml</param-value>
  	</init-param>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>ViewStatusMessages</servlet-name>
  	<servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewStatusMessages</servlet-name>
  	<url-pattern>/lbClassicStatus</url-pattern>
  </servlet-mapping>
  <mime-mapping>
  	<extension>manifest</extension>
  	<mime-type>text/cache-manifest</mime-type>
  </mime-mapping>
  <welcome-file-list>
  	<welcome-file></welcome-file>
  </welcome-file-list>
</web-app>